<!DOCTYPE html>
<html>
<head>
	<title>Student IT Services - User Issues</title>
</head>
<body>
	{% extends "itreporting/base.html" %}
		{% block content %}
		<h1 class="mb-3">Issues Reported by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
		{% for issue in issues %}
			<!-- <h3>{{issue.type}} in {{issue.room}}</h3>
			<h4>Reported By {{issue.student_name}}({{issue.course}}) on {{issue.date_reported}}</h4>
			<p>{{issue.details}}</p>
			<hr> -->
			<article class="media content-section">
				<img class="rounded-circle article-img" src="{{ issue.author.profile.image.url }}">
				<div class="media-body">
					<div class="article-metadata">
						<!-- <a class="mr-2" href="#">{{issue.student_name}} ({{issue.course}})</a> -->
						<h4>Posted by <a class="mr-2" href="{% url 'user-issues' issue.author.username %}">{{issue.author}}</a> on {{ issue.date_submitted }}</h4>
						<!-- <small class="text-muted">{{issue.date_submitted}}</small> -->
					</div>
					<h2><a class="article-title" href="{% url 'issue-detail' issue.id %}">{{issue.type}} in {{issue.room}}</a></h2>
					<p class="article-content">{{issue.details}}</p>
				</div>
			</article>
		{% endfor %}

		{% if is_paginated %}
				{% if page_obj.has_previous %}
					<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
					<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
				{% endif %}

				{% for num in page_obj.paginator.page_range %}
					{% if page_obj.number == num %}
						<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }} </a>
					{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
						<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
					{% endif %}
				{% endfor %}

				{% if page_obj.has_next %}
					<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
					<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
				{% endif %}
			{% endif %}
			
	{% endblock content %}

<!-- </body>
</html>